*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
                                    /* Practive Positions of CSS */
 .box{
    height: 100px;
    width: 100px;
    border: 2px solid;
    margin: 3px;  
 }
 .box1{
    background-color: red;
    position: sticky;
    top: 0px;
    left: 100px;
 }
 .box2{
    background-color: aqua;
 }
 .box3{
    background-color: blueviolet;
 }
 .box4{
    background-color: brown;
    height: 1000px;  
 }

 
