*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
                                 /* Practice navbar */
#navbar{
height: 50px;
background-color: black;
}
a{
    margin-right: 150px;
    text-decoration: none;
    color: aliceblue;
}
#logo{
    font-size: 20px;
    color:#f08804;
}