@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: antiquewhite;
}

nav ul{
   display: flex;
   align-items: center;
   list-style-type:none;
   font-family: 'ubuntu',sans-serif;
   background-color: black;
   color: white;
   height: 48px;

}
#brand img{
    width: 35px; 
    margin: 0 6px;
}
#brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
nav ul li{
    padding: 0 12px;
}

.container{
   width: 75%;
   height: 75%;
   margin-top: 5px;
   background-image: url(https://www.shutterstock.com/image-photo/studio-shot-young-handsome-bearded-260nw-1088062109.jpg);
   color: white;
   background-size: cover;
   margin-left: 12%;
   padding: 12px ;
   border-radius: 12px ;

}
.songItems img{
    height: 24px;
    border-radius: 50px;
  padding-left: 5px;
  padding-top: 3px;
}

.songname{
    padding-top: 5px;
}
.songItems{
    height: 30px;
    width: 30%;
    background-color:white;
    display: flex;
    color: black;
    justify-content: space-between;
    border-radius: 10px;
}

.songlistplay{
    padding: 3px 23px ;
}
.buttom{
    height: 100px;
    width: 100%;
    background-color:black;
    color: white;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#progressbar{
width: 50%;
}

.icons{
    margin-top:10px ;
}
.icons i{
    cursor:pointer;
}




